* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.background {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overplay {
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: repeat;
}



.center_text {
    font-stretch: ultra-condensed;
    font-size: 4em;
    color: white;
    margin-top: 300px;
}

.nav_menu_color {
    background-color: #171a23 !important;
}

.background_right_menu {
    background-color: #1c202b;
    color: rgba(255, 255, 255, 0.65);
}

.card_body_color {
    background-color: #1c202b;
    border-color: transparent;

}

.text_ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

#nav_mobile {
    display: none;
}

.form-control {
    box-shadow: none !important;
}

.nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: #171a23;
    border-color: var(--bs-nav-tabs-link-active-border-color);
    width: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #1c202b;
    width: 100%;
    padding-left: 20px !important;

}

#menu {
    width: 100%;
}

.table {
    --bs-table-hover-color: none;
    border-color: rgba(255, 255, 255, 0.65);

}


@media screen and (max-width:1200px) {
    #nav_mobile {
        display: block;
    }

    #pc_nav {
        display: none;
    }

    #main-content {
        display: block !important;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: var(--bs-nav-pills-link-active-color);
        /* background-color: #1c202b; */
        width: fit-content;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}

.avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.btn-like {
    cursor: pointer;
    transition: scale .15s;
    background-color: transparent;
    border: none;
}

.btn-like:active {
    scale: .9;
}

.btn-like:is(.active) .bi-star {
    display: none;
}

.btn-like:not(.active) .bi-star-fill {
    display: none;
}